extends ../_component/layout/layout

block super-config
    -
        let title = 'How to become a web developer in 2018'
        let description = `Hard work, determination and lot's of practice are the essential ingredients in a junior web developement training.`
        let createDate = `2019-03-12`
block awesome-content
    p Starting out by building codes in freecodecamp or learning all the basics form w3schools website.
    p It can be challenging at first and and some methodes hard to understand, but everyting has a meaning.
    p Coding can broden horisons and open new carrer paths.
    ol The main essential skills are:
     li Learn the baics of HTML and CSS.
     li Do some projects with a mentor(mentors are good to speed up the process of learning).
     li Last and not least train and make mistakes are the best ways of learning.

